html, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.images {
  display: none;
}

#memeplane {
  zoom: 0.5;
  -webkit-animation: fly-plane 50ms infinite ease-in-out;
          animation: fly-plane 50ms infinite ease-in-out;
}

@keyframes fly-plane {
  0% {
    transform: translate(-7px, 4px) rotate(-45deg);
  }
  25% {
    transform: translate(4px, -8px) rotate(-45deg);
  }
  50% {
    transform: translate(-5px, 3px) rotate(-45deg);
  }
  75% {
    transform: translate(4px, 8px) rotate(-45deg);
  }
  100% {
    transform: translate(7px, 6px) rotate(-45deg);
  }
}

@keyframes fly-plane-extreme {
  0% {
    transform: translate(-12px, 10px) rotate(-45deg);
  }
  25% {
    transform: translate(11px, -13px) rotate(-45deg);
  }
  50% {
    transform: translate(-12px, 14px) rotate(-45deg);
  }
  75% {
    transform: translate(12px, 13px) rotate(-45deg);
  }
  100% {
    transform: translate(13px, 14px) rotate(-45deg);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -50;
}

.text {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  font-size: 5.5em;
  padding: 0.2em;
}
